<div class="navbar navbar-expand-lg bg-white border-bottom box-shadow p-3 d-flex flex-column flex-md-row align-items-center">
  <div class="d-flex flex-row justify-content-center align-items-center">
    <h5 class="text-dark">CERTUS</h5>
  </div>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Características</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Soporte para</a>
      <a class="me-3 py-2 text-dark text-decoration-none" href="#">Empresas</a>
      <a class="py-2 text-dark text-decoration-none" href="#">Precios</a>
    </nav>
    <div class="px-3">
      <a class="btn btn-outline-primary" href="#">Inscribirse</a>
    </div>
</div>
